/* styles.css */
.hero-image {
    background-image: url('path/to/your/image.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link {
    color: white;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f8f9fa;
}
